<h2 mat-dialog-title>Configure File Paths</h2>
    <div class="path-list">
        <div class="path" *ngFor="let path of paths; let i = index" style="display: flex; justify-content: space-between;">
            <p style="margin: 0 0 15px 0;" class="mat-body">{{path}}</p>
            <i class="material-icons close-icon" (click)="deletePath(i)">close</i>
        </div>
    </div>

<mat-dialog-actions>
    <button mat-button (click)="addPath()">Add Path</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
