<div class="file-wrapper" style="height:300px; width: 200px; color: white; " (click)="openFile()">
    <div class="file-header mat-body-strong mat-body-2">{{file.filename | fileName}}</div>
    <div class="preview-area">
            <div *ngIf="!showPreview" style="height:250px; width:200px">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            <div class='img-wrapper'>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="System File Menu" class="option-icon" (click)="openMenu($event)">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                <img [src]="imageToShow" class="preview-img" *ngIf="showPreview" style="height: 250px; width:200px">
            </div>
    </div>
    <div class="file-footer mat-small mat-caption" style="color: #8d8c8c">
        <span>Last Modified</span>
        <span>{{LMDate}}</span>
    </div>
</div>


<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openFile()">Open File</button>
    <button mat-menu-item (click)="showInFolder()">Show in Folder</button>
    <button mat-menu-item (click)="rename()">Rename</button>
    <button mat-menu-item (click)="delete()">Delete</button>
    <button mat-menu-item>Upload to Drive</button>
    <button mat-menu-item>View Details</button>

</mat-menu>
