/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
    margin: 0;
    padding: 0 ;
    height: 100%;
}

.mat-menu-panel {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.mat-snack-bar-container.success {
    background-color: #212121;
    color: #1de9b6
}

.mat-snack-bar-container.failure {
    background-color: #212121;
    color: #ef5350
}

.mat-tooltip-panel {
    display: none;
}

html::-webkit-scrollbar {
    width: 6px;
    background-color: #000000b3;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0, 0, 0, 0.74);
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	border-radius: 10px;
}