.wrapper {
    height: 100%
}

.fileList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: baseline;
}

.file-component {
    position: relative;
    margin-bottom: 50px;
    margin-right: 50px;
}

.file-component-drive {
    position: relative;
    margin-right: 50px;
}

.login-button-space {
    min-height: 200px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.login-button {
    background-color: #1E88E5;
    height: fit-content;
}
