<div class="wrapper" id="scroll">
    <mat-toolbar color="warn" style="display:flex; justify-content: space-between; z-index: 20">
        <span>Binder</span>
        <div style="display: inline-block; position: relative;"> <mat-search-bar (onOpen)="searchOpen()" (onClose)="searchClose()" (onEnter)="searchEntered($event)"></mat-search-bar>
            <div class="search-result-box" *ngIf="searchActive" [@enterAnimation]>
                <p>Google Drive files</p>
                <div *ngFor="let file of searchDriveFiles" class="search-files" (click)="openFile(file.webViewLink)">
                    <span style="margin: 0 10px;">
                        <img src="./assets/word.png" *ngIf="file.mimeType !== 'application/vnd.google-apps.document'" class="icon-img">
                        <img src="./assets/doc.png" *ngIf="file.mimeType === 'application/vnd.google-apps.document'" class="icon-img">
                    </span>
                    <span [innerHTML]="file.name | highlight: file.start:file.end"></span>
                </div>
                <hr>
                <p>System Files</p>
                <div *ngFor="let file of searchSystemFiles" class="search-files" (click)="openFile(file.filePath)">
                    <span style="margin: 0 10px;">
                        <img src="./assets/word.png" class="icon-img">
                    </span>
                    <span [innerHTML]="file.name | highlight: file.start:file.end"></span>
                </div>
            </div>
        </div>
    </mat-toolbar>
    <div>
        <div class="file-space" style="min-height: 100%; background-color: rgba(0,0,0,.87)">

            <div class="driveFileSpace" style="color: white">
                <div style="display: flex; padding-top: 40px">
                    <h1 class="mat-h1 mat-headline" style="flex-grow: 23; padding-left: 50px">Google Drive Files</h1>
                    <i class="material-icons" (click)="logout()" style="flex-grow: 1" *ngIf="googleDriveLogInStatus">power_settings_new</i>
                </div>
                <!-- <h1 class="mat-h1 mat-headline">Google Drive Files</h1> -->
                <div class="login-button-space" *ngIf="!googleDriveLogInStatus">
                    <button mat-raised-button class="login-button" (click)="googleLogin()">Login to Drive</button>
                </div>
                <div *ngIf="googleDriveLogInStatus" class="recentFilesList" style="width: 80%;margin:auto;position: relative;">
                        <div *ngIf="!hasGoogleFileLoad" style="margin: 10% auto;width: 50%;text-align: center"  >
                            <h1 class="mat-h1">
                                Loading Files..
                              </h1>
                              <div class="lds-roller" style="padding-right:120px"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> 
                        </div>
                         <div *ngIf="hasGoogleFileLoad && driveFiles.length==0" style="margin: 10% auto;width: 50%;text-align: center"  >
                                    <h1 class="mat-h1">
                                      No files found :(
                                    </h1>
                        </div>
                    <app-slider>  
                        <app-drivefile [fileInfo]="file" *ngFor="let file of recentDriveFiles" class="file-component-drive" appSliderItem  (deleteFile)="deleteDriveFile($event)"></app-drivefile>
                    </app-slider>
                </div>
            
                <filetable *ngIf="googleDriveLogInStatus && driveFiles.length > 0" [files]="tableDriveFiles" (deleteFile)="deleteDriveFile($event)"></filetable>
            </div>


            <br> <hr> <br>
            <div class="wordFileSpace" style="color: white">
                <div style="display: flex">
                    <h1 class="mat-h1 mat-headline" style="flex-grow: 23; padding-left: 50px">System Files</h1>
                    <i class="material-icons" (click)="addPaths()" style="flex-grow: 1">playlist_add</i>
                </div>
                <div class="fileList" >
                    <div *ngIf="!hasSystemFileLoad" style="margin: 10% auto;width: 50%;text-align: center"  >
                        <h1 class="mat-h1">
                            Loading Files..
                          </h1>
                          <div class="lds-roller" style="padding-right:120px"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> 
                    </div>
                        <div *ngIf="hasSystemFileLoad &&systemFiles.length==0" style="margin-top: 10%"  >
                                <h1 class="mat-h1">
                                  No files found :(
                                </h1>
                        </div>
                    <file [fileInfo]="file" *ngFor="let file of systemFiles" class="file-component"></file>
                </div>
            </div>

        </div>
    </div>
    
</div>
