<div class="wrapper" id="scroll">
    <mat-toolbar color="warn">
        <span>Binder</span>
    </mat-toolbar>
        <div class="file-space" style="min-height: 100%; background-color: rgba(0,0,0,.87)">

            <div class="driveFileSpace" style="color: white">
                <h1 class="mat-h1 mat-headline">Google Drive Files</h1>
                <div class="login-button-space" *ngIf="!googleDriveLogInStatus">
                    <button mat-raised-button class="login-button" (click)="googleLogin()">Login to Drive</button>
                </div>
                <div class="recentFilesList" style="width: 80%;margin:auto;position: relative;">
                    <app-slider>
                        <app-drivefile [fileInfo]="file" *ngFor="let file of recentDriveFiles" class="file-component-drive" appSliderItem  (deleteFile)="deleteDriveFile($event)"></app-drivefile>
                    </app-slider>
                </div>
            
                <filetable *ngIf="googleDriveLogInStatus && driveFiles.length > 0" [files]="tableDriveFiles" (deleteFile)="deleteDriveFile($event)"></filetable>
            </div>


            <br> <hr> <br>
            <div class="wordFileSpace" style="color: white">
                <h1 class="mat-h1 mat-headline">System Files</h1>
                <div class="fileList"  >
                        <div *ngIf="systemFiles.length==0" style="margin-top: 10%"  >
                                <h1 class="mat-h1">
                                  NO FILE FOUND  !
                                </h1>
                        </div>
                    <file [fileInfo]="file" *ngFor="let file of systemFiles" class="file-component"></file>
                </div>
            </div>

        </div>
</div>